$url_icon_floor_map_1: url(../img/icon-1-floor-plan.png);
$url_icon_floor_map_2: url(../img/icon-2-floor-plan.png);
$url_icon_floor_map_3: url(../img/icon-3-floor-plan.png);
$url_icon_floor_map_4: url(../img/icon-4-floor-plan.png);
$url_icon_floor_map_5: url(../img/icon-5-floor-plan.png);
$url_icon_floor_map_6: url(../img/icon-6-floor-plan.png);
$url_icon_floor_map_7: url(../img/icon-7-floor-plan.png);
$url_icon_floor_map_8: url(../img/icon-8-floor-plan.png);
$url_icon_floor_map_9: url(../img/icon-9-floor-plan.png);
$url_icon_floor_map_10: url(../img/icon-10-floor-plan.png);
$url_icon_toss_btn: url(../img/icon-toss-btn.png);