$color_primary: #272C40;
$color_secondary: #2D3349;
$color_alert: #F35052;
$color_mono: #EDEFF0;
$color_mono_1: #7F8FA4;
$color_mono_2: #575C6D;
$color_mono_3: #F9F9F9;
$color_mono_4: #DBE0E4;
$color_mono_5: #F5F5F6;
$color_mono_6: #FBFBFB;
$color_mono_7: #DFDFDF;
$color_mono_8: #55698A;
$color_mono_9: #f1f3f2;

$color_white: #ffffff;
$color_black: #000000;
$color_sliver: #575d6d;
$color_gray: #778da2;
$color_blue: #61C9DA;
$color_green: #31b131;