@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";
.form-horizontal label, .form-horizontal .control-label {
  font-size: 0.9375em;
  font-weight: 400; }
.form-horizontal .control-label {
  text-align: right; }
@media (max-width: 767px) {
  .form-horizontal .radio-inline,
  .form-horizontal .checkbox-inline {
    display: block; }
  .form-horizontal .radio-inline + .radio-inline,
  .form-horizontal .checkbox-inline + .checkbox-inline {
    margin-left: 0; } }

.has-error .help-block, .has-error .form-control {
  color: #F35052; }
.has-error .help-block {
  font-size: 0.6875em; }
.has-error .form-control {
  border-color: #F35052; }
.has-error label, .has-error .control-label {
  color: #272C40; }

@media (max-width: 767px) {
  .form-group {
    float: none;
    width: auto; } }
.form-group.form-group-search {
  position: relative; }
  .form-group.form-group-search .search-icon {
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    height: 1em;
    margin: auto; }
.form-group.has-icon-inside-input-field {
  position: relative; }
  .form-group.has-icon-inside-input-field .input-field-icon {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    height: 1em;
    margin: auto; }
  .form-group.has-icon-inside-input-field .form-control {
    padding-right: 22px; }
.form-group.has-icon {
  position: relative; }
  .form-group.has-icon .input-field-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    margin: auto; }
  .form-group.has-icon .form-control {
    width: 90%; }

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .btn-select-field {
    background: #F9F9F9;
    border: 1px solid #DBE0E4;
    padding-right: 30px; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) .bs-caret {
    background: #272C40;
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).btn-group .dropdown-toggle .caret {
    color: #ffffff; }
  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn).btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.form-control {
  background: #F9F9F9;
  border: 1px solid #DBE0E4;
  font-size: 0.9375em;
  height: 2.266666666666667em; }

.select2-container {
  width: 100% !important; }
  .select2-container.select2-container--default .select2-selection--single {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #DBE0E4;
    background-color: #F9F9F9;
    font-size: 1em;
    height: 2.125em; }
    .select2-container.select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 2.2;
      font-size: 0.9375em;
      color: #272C40;
      padding-right: 30px; }
    .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 2em;
      background-color: #272C40;
      width: 30px; }
      .select2-container.select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #ffffff transparent transparent transparent; }
  .select2-container.select2-container--default .select2-search--inline .select2-search__field {
    width: auto !important;
    font-size: 1.16666em; }
  .select2-container.select2-container--default .select2-selection--multiple {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background-color: transparent;
    border: 0; }
    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      width: auto;
      font-size: 0.75em; }
    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__choice {
      background-color: #ffffff;
      border: 1px solid #DBE0E4;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
    .select2-container.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
      float: right;
      margin-right: 0;
      margin-left: 25px;
      font-weight: 700;
      font-size: 1.2em;
      border: 1px solid #DBE0E4;
      height: 0.9em;
      line-height: 0.626;
      margin-top: 3.9px;
      text-align: center;
      width: 0.834em; }
  .select2-container.select2-container--default .select2-results__option {
    font-size: 0.75em;
    color: #272C40; }
    .select2-container.select2-container--default .select2-results__option[aria-selected=true] {
      background-color: #F9F9F9; }
    .select2-container.select2-container--default .select2-results__option.select2-results__option--highlighted[aria-selected] {
      background-color: #272C40;
      color: #ffffff; }
  .select2-container.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #ffffff transparent; }

.select2-dropdown {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: 1px solid #DBE0E4; }

/*# sourceMappingURL=forms.css.map */
