page-fiter-div {

}


.divFilter{
    border: 2px solid #f1ebeb;
    width: 127px;
    height: 46px;
}

.mainDivFilter{
    border: 2px solid rgb(197, 204, 204);
    width: auto;
    height: auto; 
}

.divParaFilter{
    text-align: center;
    color: cadetblue;
    margin-top: -19px;
}

.divCloseDiv{
    text-align: right;  
    margin-top: -1px;
    margin-right: 1px;
}

.mainDivFilter{
    border: 2px solid rgb(19, 18, 18);
    width: auto;
    height: auto; 
}

.closeDivMainFilter{
    text-align: right;  
    margin-top: -1px;
    margin-right: 1px;
}
